{% extends "base.html" %}

{% block title %}Login{% endblock  %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="block justify-center text-center mt-10 p-6 w-1/2 mx-auto">
<form method="post" action="{% url 'login' %}" class="max-w-full mx-0.5">
    {% csrf_token %}
    <h2 class="text-2xl font-bold mb-0">Login</h2>
    <br>
    <label for="username" class="block text-left">Username</label>
    <input id="username" type="text" name="username" placeholder="Username" class="w-full p-2 mb-4 border border-gray-300 rounded">
    <br>
    <label for="password" class="block text-left">Password</label>
    <input id="password" type="password" name="password" placeholder="Password" class="w-full p-2 mb-4 border border-gray-300 rounded">
    <br>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded">Login</button>
    <br>
</form>
</div>
{% endblock %}